<!--<div class="container-fluid">-->
<!--<form [formGroup]="form" (ngSubmit)="onSubmit()"-->
      <!--class="col-md-4 col-md-offset-4 text-center">-->
    <!--<div class="form-group ">-->
        <!--<label class="col text-left">-->
            <!--Email-->
            <!--<input type="email" class="form-control" formControlName="username" width="100px">-->
        <!--</label>-->
    <!--</div>-->
    <!--<div class="col alert alert-danger" role="alert"-->
         <!--*ngIf="form.hasError('invalidusername', ['username']) &&-->
      <!--form.get('username').touched">-->
        <!--Invalid Username!-->
    <!--</div>-->
    <!--<div formGroupName="pw">-->
        <!--<div class="form-group ">-->
            <!--<label class="col text-left">-->
                <!--Password-->
                <!--<input type="password" class="form-control"-->
                       <!--formControlName="password">-->
            <!--</label>-->
        <!--</div>-->
        <!--<div class="form-group ">-->
            <!--<label class="col text-left">-->
                <!--Confirm Password-->
                <!--<input type="password" class="form-control"-->
                       <!--formControlName="confirmPassword">-->
            <!--</label>-->
        <!--</div>-->
        <!--<div class="col alert alert-danger" role="alert"-->
             <!--*ngIf="form.hasError('passwordnotmatch', ['pw']) &&-->
        <!--form.get('pw').touched">-->
            <!--Password ko dung!-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<button class="btn btn-info" type="submit">Submit</button>-->
    <!--</div>-->
<!--</form>-->
<!--</div>-->