<h2>Deatail person {{id}}</h2>
<table class="table table-striped table-hover">
	<tr>
		<td>ID</td>
		<td>{{id}}</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>Name{{id}}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>Email{{id}}</td>
	</tr>
	<tr>
		<td>Age</td>
		<td>Age{{id}}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>Phone{{id}}</td>
	</tr>
</table>

<a [routerLink]="['listfriend']" class="btn btn-success">View list friends</a>
<a [routerLink]="['pagelike']" class="btn btn-primary">View page like</a>
<router-outlet></router-outlet>